---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { loadVideo } from "@/lib/asset-helpers";

interface Props {
  work: CollectionEntry<"works">;
}

const { work } = Astro.props;
const videoSrc = work.data?.video ? await loadVideo(work.data.video) : null;
---

<div class="items-stretch flex-col justify-center relative flex">
  <div class="work-item items-center justify-center flex overflow-hidden rounded-3xl relative">
    {
      videoSrc ? (
        <video
          class="object-cover align-middle inline-block w-full h-96 min-h-full max-w-full"
          autoplay
          loop
          muted
          playsinline
        >
          <source src={videoSrc} />
        </video>
      ) : (
        <Image
          src={work.data.cover}
          alt={`Cover for ${work.data.title}`}
          class="object-cover align-middle inline-block w-full h-96 min-h-full max-w-full"
        />
      )
    }
  </div>
  <div class="mt-5">
    <div class="items-center justify-between flex flex-row gap-4">
      <div class="items-start flex-col flex max-w-full">
        <h3 class="text-[1.75rem] leading-8">{work.data.title}</h3>
      </div>
      <p class="text-neutral-400 text-lg">
        {Array.from(work.data.tags).join(", ")}
      </p>
    </div>
  </div>
</div>
